# flyctl launch added from .gitignore
# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

**/node_modules
**/dist
**/dist-ssr
**/*.local

# Editor directories and files
**/.vscode/*
!**/.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.env
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# Development Database
**/database-dev/postgres-data

# flyctl launch added from server/.gitignore
server/**/node_modules
# Keep environment variables out of version control
server/**/.env

# flyctl launch added from web/.gitignore
# Logs
web/**/logs
web/**/*.log
web/**/npm-debug.log*
web/**/yarn-debug.log*
web/**/yarn-error.log*
web/**/pnpm-debug.log*
web/**/lerna-debug.log*

web/**/node_modules
web/**/dist
web/**/dist-ssr
web/**/*.local

# Editor directories and files
web/**/.vscode/*
!web/**/.vscode/extensions.json
web/**/.idea
web/**/.DS_Store
web/**/*.suo
web/**/*.ntvs*
web/**/*.njsproj
web/**/*.sln
web/**/*.sw?
fly.toml
