*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  line-height: 1.25;
}

p {
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* || Variables */

:root {
  --COL-DARK: #131313;
  --COL-MID: #b4b4b4;
  --COL-LIGHT: #d3d3d3;
  --COL-EXTRALIGHT: #ededed;
  --COL-WHITE: #ffffff;
  --FONT-MAIN: 'Montserrat', sans-serif;
  --FONT-LIGHT: 200;
  --FONT-MEDIUM: 500;
  --FONT-HEAVY: 700;
}

h1 {
  font-size: 1.5em;
  font-weight: var(--FONT-HEAVY);
  text-transform: uppercase;
}

h3 {
  font-size: 0.9rem;
}

/* || Utility classes */

.hidden {
  display: none;
}

body {
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--COL-DARK);
  font-family: var(--FONT-MAIN);
  font-weight: var(--FONT-MEDIUM);
}

.main-container {
  margin: auto;
}
header {
  background-color: var(--COL-LIGHT);
  padding: 0.5em;
  margin-bottom: 2em;
}
.site-name {
  font-size: 1.75em;
  font-weight: var(--FONT-MEDIUM);
  text-transform: uppercase;
}

section {
  margin: 0.5em;
}
.page-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

button {
  padding: 0.5em 3em;
  background-color: var(--COL-MID);
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.event-container {
  background-color: var(--COL-EXTRALIGHT);
  padding: 0.75em;
  margin: 0.5em 0;
}

.event--detail-section {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
}
